@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

:root {
  --clock: #312820;
  --background: lightblue;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  font-family: "Barlow Condensed", sans-serif;
  overflow: hidden;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 7px solid var(--clock);
  border-radius: 50%;
  position: relative;
}

.number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}

.number1 {
  --rotation: 30deg;
}
.number2 {
  --rotation: 60deg;
}
.number3 {
  --rotation: 90deg;
}
.number4 {
  --rotation: 120deg;
}
.number5 {
  --rotation: 150deg;
}
.number6 {
  --rotation: 180deg;
}
.number7 {
  --rotation: 210deg;
}
.number8 {
  --rotation: 240deg;
}
.number9 {
  --rotation: 270deg;
}
.number10 {
  --rotation: 300deg;
}
.number11 {
  --rotation: 330deg;
}
.number12 {
  --rotation: 360deg;
}

.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8,
.text9,
.text10,
.text11,
.text12 {
  display: inline-block;
  transform: rotate(calc(0deg - var(--rotation)));
}

.hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background: var(--clock);
  border-radius: 100%;
  transform-origin: bottom;
  z-index: 0;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  z-index: 1;
  background: var(--clock);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.hand-hour {
  height: 28%;
  width: 8px;
}

.hand-minute {
  height: 35%;
  width: 5px;
}

.hand-second {
  height: 42%;
  width: 2px;
  background-color: brown;
}
